#full-index header{
    color: orangered;
}
nav {
    background-color: saddlebrown;
    color: orange;
}
nav a:link {
    color: orange;
}


/*Index Page*/

.card-img-top {
    width: 350px;
    height: 350px;
    object-fit: cover;
    margin: 0 auto;
}

.center {
    text-align: center;
}

#posts {
    padding-top: 30px;
    padding-bottom: 30px;
}
#posts h3 {
    color: white;
    font-size:  45px;
}
#posts p {
    color: white;
    font-size:  20px;
}

#profiles {

}
#profiles h3{
    color: white;
    font-size:  45px;
}








/*Profile Page*/
.fa {
    padding: 20px;
    font-size: 30px;
    width: 60px;
    text-decoration: none;
    border-radius: 50%;

}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-github {
    background: #007bb5;
    color: white;
}
#bio li {
    list-style-type: none;

}

#bio {
    width: 50%;
    margin: 0 auto;
}





/*Post Page*/
#postHeader {
    color: white;
}

#postText {
    width: 40%;
    margin: 0 auto;
    color: white;
    paddiong-top: 50px;
}

