<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog Post HTML</title>

    <!--Bootstrap CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!--Styles CSS-->
    <link rel="stylesheet" href="css/styles.css" type="text/css">
</head>
<body background="/images/background.jpg">
<div id="full">
    <nav>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" href="/">Homepage</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Profiles</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/profile_Jane">Jane Smith</a>
                    <a class="dropdown-item" href="/profile_Mary">Mary Jones</a>
                    <a class="dropdown-item" href="/profile_Phil">Phil Heather</a>
                    <a class="dropdown-item" href="/profile_Fred">Fredrico Corleone</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/bootcamp">Bootcamp</a>
            </li>
        </ul>
    </nav>
    <header id="postHeader">
        <div class="container">
            <div class=".col-sm-2"></div>
            <div class=".col-sm-8 text-center">
                <h1>HTML</h1>
                <h2>Thoughts on HTML</h2>
                <h4><a href="/profile_Jane">Jane Smith</a></h4>
                <h6>6/20/18</h6>
            </div>
            <div class=".col-sm-2"></div>
        </div>
    </header>
    <section id="postText">
        <p>
            HTML is not a programming language;
        </p>
        <p>
            HTML is a markup language that defines the structure of your content.
            HTML consists of a series of elements,
            which you use to enclose,
            or wrap,
            different parts of the content to make it appear a certain way,
            or act a certain way.
            The enclosing tags can make a word or image hyperlink to somewhere else,
            can italicize words,
            can make the font bigger or smaller,
            and so on.
        </p>
        <p>
            For example, take the following line of content:
            Hypertext Markup Language (HTML) is the standard markup language for creating web pages and web applications. With Cascading Style Sheets (CSS) and JavaScript, it forms a triad of cornerstone technologies for the World Wide Web.
            <br />
            Web browsers receive HTML documents from a web server or from local storage and render the documents into multimedia web pages. HTML describes the structure of a web page semantically and originally included cues for the appearance of the document.
            <br />
            HTML elements are the building blocks of HTML pages. With HTML constructs, images and other objects such as interactive forms may be embedded into the rendered page. HTML provides a means to create structured documents by denoting structural semantics for text such as headings, paragraphs, lists, links, quotes and other items. HTML elements are delineated by tags, written using angle brackets.Browsers do not display the HTML tags, but use them to interpret the content of the page.
            <br />
        HTML can embed programs written in a scripting language such as JavaScript, which affects the behavior and content of web pages. Inclusion of CSS defines the look and layout of content. The World Wide Web Consortium (W3C), maintainer of both the HTML and the CSS standards, has encouraged the use of CSS over explicit presentational HTML since 1997.
        </p>
    </section>



</div>


<!--Bootstrap JavaScript-->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>