<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog Post Template</title>

    <!--Bootstrap CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
<div id="full">
    <nav>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" href="#">Homepage</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Profiles</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Profile 1</a>
                    <a class="dropdown-item" href="#">Profile 2</a>
                    <a class="dropdown-item" href="#">Profile 3</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Bootcamp</a>
            </li>
        </ul>
    </nav>
    <header>
        <div class="container">
            <div class=".col-sm-2"></div>
            <div class=".col-sm-8 text-center">
                <h1>Github Entry #1</h1>
                <h2>Learning GitHub</h2>
                <h4><a href="/profileA">Fredrico Corleone</a></h4>
            </div>
            <div class=".col-sm-2"></div>
        </div>
    </header>
    <section>
        <p>
            So far in our java bootcamp we learned how to transfer code from a program  called intellij to a web data base called Github using a series of commands in a terminal that created a conduit from git hub to intellij and vice versa. We also learned how to “commit” and “push” this lets us the user make updates to these coding projects online called repositories. These repositories make your code available to all kinds of people in the internet.
        </p>
    </section>



</div>


<!--Bootstrap JavaScript-->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>