<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>

    <!--Bootstrap CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!--Styles CSS-->
    <link rel="stylesheet" href="css/styles.css" type="text/css">
</head>
<body background="/images/background.jpg">
<div id="full-index">
    <nav>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" href="/">Homepage</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Profiles</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/profile_Jane">Jane Smith</a>
                    <a class="dropdown-item" href="/profile_Mary">Mary Jones</a>
                    <a class="dropdown-item" href="/profile_Phil">Phil Heather</a>
                    <a class="dropdown-item" href="/profile_Fred">Fredrico Corleone</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/bootcamp">Bootcamp</a>
            </li>
        </ul>
    </nav>
    <header>
        <div class="container">
           <div class="row">
               <div class="col-sm-1"></div>
               <div class="col-sm-10 text-center">
                   <h1>This One Time at BitCamp</h1>
                   <h4>Post your programming thoughts</h4>
               </div>
               <div class="col-sm-1"></div>
           </div>
        </div>
    </header>
    <section id="posts">
        <div class="container">
            <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-4 text-center">
                    <h3>Posts</h3>
                </div>
                <div class="col-sm-4"></div>
            </div>

            <div class="row" style="padding-bottom: 60px">
                <div class="col-sm-4 text-center">
                    <p>HTML</p>
                    <a href="/blogpost_html"><img src="/images/fire.jpg" width="250px" height="250px"/></a>
                </div>
                <div class="col-sm-4 text-center">
                    <p>CSS</p>
                    <a href="/blogpost_css"><img src="/images/fire.jpg" width="250px" height="250px"/></a>
                </div>
                <div class="col-sm-4 text-center">
                    <p>Bootstrap</p>
                    <a href="/blogpost_bootstrap"><img src="/images/fire.jpg" width="250px" height="250px"/></a>
                </div>
            </div>

            <div class="row" style="padding-bottom: 60px">
                <div class="col-sm-4 text-center">
                    <p>Objects and Classes</p>
                    <a href="/blogpost_object1"><img src="/images/fire.jpg" width="250px" height="250px"/></a>
                </div>
                <div class="col-sm-4 text-center">
                    <p>Encapsulation</p>
                    <a href="/blogpost_object2"><img src="/images/fire.jpg" width="250px" height="250px"/></a>
                </div>
                <div class="col-sm-4 text-center">
                    <p>Polymorphism</p>
                    <a href="/blogpost_object3"><img src="/images/fire.jpg" width="250px" height="250px"/></a>
                </div>
            </div>

            <div class="row" style="padding-bottom: 60px">
                <div class="col-sm-4 text-center">
                    <p>Core Java 1</p>
                    <a href="/CoreJava"><img src="/images/fire.jpg" width="250px" height="250px"/></a>
                </div>
                <div class="col-sm-4 text-center">
                    <p>Core Java 2</p>
                    <a href="/CoreJava2"><img src="/images/fire.jpg" width="250px" height="250px"/></a>
                </div>
                <div class="col-sm-4 text-center">
                    <p>Core Java 3</p>
                    <a href="/CoreJava3"><img src="/images/fire.jpg" width="250px" height="250px"/></a>
                </div>
            </div>

            <div class="row" style="padding-bottom: 60px">
                <div class="col-sm-4 text-center">
                    <p>Github 1</p>
                    <a href="/Github"><img src="/images/fire.jpg" width="250px" height="250px"/></a>
                </div>
                <div class="col-sm-4 text-center">
                    <p>Github 2</p>
                    <a href="/Github2"><img src="/images/fire.jpg" width="250px" height="250px"/></a>
                </div>
                <div class="col-sm-4 text-center">
                    <p>Github 3</p>
                    <a href="/Github3"><img src="/images/fire.jpg" width="250px" height="250px"/></a>
                </div>
            </div>

            <div class="row" style="padding-bottom: 60px">
                <div class="col-sm-6 text-center">
                    <p>Program Design 1</p>
                    <a href="/ProgramDesign"><img src="/images/fire.jpg" width="250px" height="250px"/></a>
                </div>
                <div class="col-sm-6 text-center">
                    <p>Program Design 2</p>
                    <a href="/ProgramDesign2"><img src="/images/fire.jpg" width="250px" height="250px"/></a>
                </div>
            </div>
        </div>
    </section>

    <section id="profiles">
        <div class="container">
            <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-4 text-center">
                    <h3>Meet the Campers</h3>
                </div>
                <div class="col-sm-4"></div>
            </div>

            <div class="row">
                <div class="col-sm-5 profile">
                    <div class="card">
                        <img class="card-img-top" src="https://koreyhowellphotography.com/wp-content/uploads/2017/04/AdobeStock_94026210-1024x689.jpeg" alt ="photo of jane" width="150px" height="150px" style="border-radius: 200px;">
                        <div class="card-body text-center">
                            <h4 class="card-title">Jane Smith</h4>
                            <p class="card-text">See my profile to learn more about me.</p>
                            <a href="/profile_Jane" class="btn btn-primary">See Profile</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2"></div>
                <div class="col-sm-5 profile">
                    <div class="card">
                        <img class="card-img-top" src="https://i.pinimg.com/236x/d8/82/59/d88259a42fcc6ee481c879e05b5ff465--business-headshot-ideas-woman-profile-picture-professional.jpg" alt="photo of mary"  width="150px" height="150px" style="border-radius: 200px;">
                        <div class="card-body text-center">
                            <h4 class="card-title">Mary Jones</h4>
                            <p class="card-text">See my profile to learn more about me.</p>
                            <a href="/profile_Mary" class="btn btn-primary">See Profile</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 50px; margin-bottom: 20px;">
                <div class="col-sm-5 profile">
                    <div class="card">
                        <img class="card-img-top" src = "https://cdn7.dissolve.com/p/D430_49_185/D430_49_185_1200.jpg" alt = "photo of phil" width="150px" height="150px" style="border-radius: 200px;">
                        <div class="card-body text-center">
                            <h4 class="card-title">Phil Heather</h4>
                            <p class="card-text">See my profile to learn more about me.</p>
                            <a href="/profile_Phil" class="btn btn-primary">See Profile</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2"></div>
                <div class="col-sm-5 profile">
                    <div class="card">
                        <img class="card-img-top" src="https://i.pinimg.com/236x/d8/82/59/d88259a42fcc6ee481c879e05b5ff465--business-headshot-ideas-woman-profile-picture-professional.jpg" alt="photo of mary"  width="150px" height="150px" style="border-radius: 200px;">
                        <div class="card-body text-center">
                            <h4 class="card-title">Fredrico Corleone</h4>
                            <p class="card-text">See my profile to learn more about me.</p>
                            <a href="/profile_Fred" class="btn btn-primary">See Profile</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



</div>


<!--Bootstrap JavaScript-->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>